<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="team.component.css">
</head>
<body>
    <div class="container">
        <h2>Team Registration Form</h2><br>

        <form id="register-form" (submit)="onTeam()">
            <div class="form-group">
                <label for="username">Enter Teamname</label>
                <h2> </h2>
                <input type="text" id="username" name="username" class="underlined-input" [(ngModel)]="teamModel.username" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="form-group">
              <label for="username">Enter TeamLeadername</label>
              <h2> </h2>
              <input type="text" id="username" name="username" class="underlined-input" [(ngModel)]="teamModel.username" required>
              <i class="fas fa-user"></i>
          </div>
            <div class="form-group">
                <label for="email">Enter Email Address</label>
                <h2> </h2>
                <input type="email" id="email" name="email" class="underlined-input" [(ngModel)]="teamModel.email" required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <h2> </h2>
                <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="teamModel.password" class="underlined-input" required/>
                <i class="fas" [ngClass]="{ 'fa-eye': passwordVisible, 'fa-eye-slash': !passwordVisible }" (click)="Visibility()" style="color: rgb(255, 255, 255);"></i>
            </div><br>
            <div class="form-group center-button">
                <button>Register</button>
            </div>

        </form>
        <br>
        <div class="error-message">
            {{ res.message }}
        </div>
        <h4 style="text-align: center;">Already have an account? <a routerLink="/login" routerLinkActive="active" style="color: #007bff;">Log in</a></h4>
    </div>
</body>
</html>


